html * {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}

* .input_post_user_finn {
	width: 700px;
	height: 45px;
	padding: 18px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 740px) {
	* .input_post_user_finn {
		width: 200px;
	}
}

span.store_item_cost {
	font-size: 25px;
	font-family: 'Fredoka One', cursive;
	color: white;
}

.button {
	width: 100%;
	height: 2.5rem;
	background-color: #CC085E;
	text-align: center;
	margin: 20px 0 20px 0;
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	border-radius: 10px;
}

.button {
	transition-property: background-color;
	transition-duration: 1.5s;
}

.button:hover {
	background-color: #16CC11;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 5rem;
	color: #CC085E;
	text-align: center;
	border-bottom: 3px solid #CC085E;
}

.modal-content h2 {
	font-family: 'Fredoka One', cursive;
	font-size: 2.5rem;
	color: black;
	text-align: left;
}

.post_container_div {
	font-size: 25px;
	font-family: 'Fredoka One';
}

.post_container_h1 {
	font-size: 30px;
	font-family: 'Fredoka One';
}

@media only screen and (max-width: 740px) {
	.modal-content h1 {
		font-size: 2rem;
	}
	.modal-content h2 {
		font-size: 1.8rem;
	}
	.button {
		font-size: 1rem;
		height: 3rem;
	}
	span.store_item_cost {
		font-size: 1rem;
	}
}

/* LOGIN PAGE FORM */
#loginPage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal login page Content */
.loginpage-content {
	font-family: Arial;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

#loginPage * input {
	width: 600px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 10px;
	font-size: 18px;
	padding: 0 18px 0 10px;
}

@media only screen and (max-width: 1200px) {
	* .input_post_user_finn {
		width: 500px;
	}
}

@media only screen and (max-width: 740px) {
	#loginPage * input {
		width: 175px;
	}
	#loginPage h1 {
		font-size: 20px;
		font-weight: 800;
	}
	* .input_post_user_finn {
		width: 400px;
	}
}
